.benefits
    text-align: center
    padding-top: 100px
    max-width: 1600px
    width: 90%
    margin: 0 auto
    .line
        margin: 30px auto
    .benefits-image
        padding-top: 100px
        width: 97%
        max-width: 980px
        margin: 0 auto

@media screen and ( max-width: 974px)
    .benefits
        padding-top: 50px
        img 
            padding-top: 50px!important

    
    