.rf-btn
  width: 113px
  display: inline-block
  height: 50px
  line-height: 50px
  border-radius: 38px
  font-size: 18px
  text-transform: uppercase
  align-self: center
  margin-top: 60px
  box-shadow: 0px 3px 7px #387DFF53
  &.blue
    background: linear-gradient(180deg, #518CFF 0%, #3A7EFF 100%) 
    color: $white
.rf-btn:hover
    background: linear-gradient(180deg,#6EA0FF, #518DFF 50%) 

.descr
  font-size: 16px
  line-height: 1.6
  font-weight: 500
  &.lightGrey
    color: $lightGray
  &.darkPurple
    color: $darkPurple
  &.darkViolet
    color: $darkViolet

.line
  width: 50px
  height: 6px
  &.green
    background: $green
  &.skyBlue
    background: $skyBlue
  &.coral
    background: $coral
  &.yellow
    background: #FFA330
  

.input-subscr
  padding: 0 20px 0 20px
  height: 40px
  border-radius: 10px
  border: 1px solid #DDE3F0
  font-size: 14px
  margin-top: 5px

.container
  max-width: 1400px
  width: 95%
  margin: 0 auto

.error
  border: 1px solid #FF4C4C

    
  