.location
    background-color: #F2F7FF
    padding-top: 150px
    position: relative
    .location-ill
        position: absolute
        top: -10%
        left: -5%
    .container
        display: flex
        align-items: center
        justify-content: space-around
        .location-text
            .content-wrap
                display: flex
                margin-top: 20px
        .title
                font-size: 30px
        .location-map
            max-width: 590px
            width: 100%
        .descr-wrap
            color: #363F5A
            width: 100%
            text-align: left
            margin-left: 20PX
            .descr-sm
                font-size: 10px
        .map-img
            width: 100%
              