.logo-maker
    text-align: center
    background: #EEF5FF
    padding-top: 100px
    background: url("../img/logo-maker-background.svg")
    background-position: cover
    .text   
        max-width: 850px
        margin: 30px auto
