@import "variables.sass"

.main-page
	padding: 70px 0 0 0
	text-align: center
	.main-page-content
		position: relative
		display: inline-flex

		.numbers-crown
			position: absolute
			left: 10px

		.main-page-numbers
			color: $blue
			font-size: 70px
			font-weight: bold
.wave-background
	width: 100%
.ill-wave
	display: none
	width: 100%

.main-page-description
	color: $darkViolet
	font-weight: bold
	padding: 10px 0px 30px 0px


@media screen and ( max-width: 400px)	
	.main-page
		.main-page-content 
			.main-page-numbers
				font-size: 53px
		.main-page-description
			font-size: 14px
				 

	

