.subscribe
    padding-top: 15vw
    background: #EEF5FF
    display: flex
    align-items: flex-end
    justify-content: center
    text-align: center
    .rf-btn
        margin-left: 15px
        padding: 0 45px


@media screen and ( max-width: 992px )
    .subscribe
        padding-top: 17vw
       

@media screen and ( max-width: 767px )
    .subscribe
        .rf-btn
            margin-top: 30px
        .rf-btn:first-child
            margin-top: 0
            
@media screen and ( max-width: 545px )
    .subscribe
        padding-top: 20vw
        .rf-btn
    