.subscribe
    padding-top: 50px
    background: #EEF5FF
    display: flex
    align-items: flex-end
    justify-content: center
    text-align: center
    .rf-btn
        margin-left: 15px
        padding: 0 45px


@media screen and ( max-width: 767px )
    .subscribe
        .rf-btn
            margin-top: 30px
        .rf-btn:first-child
            margin-top: 0
            
    