$white: #FFFFFF
$black: #000000
$lightGray: #727A83
$blueGray: #7683A8
$lightGrayBg: #979797
$blue: #387DFF
$purple: #766DE8
$darkPurple: #363F5A
$red: #FF4C4C
$darkViolet: #545F7E
$skyBlue: #4FCEFF
$green: #4FDC6F
$coral: #F37C6A
$lighterGrayBg: #F5FAFE
$lightSkyBlue: #CFE0FF
$veryLightBlue: #EEF5FF
$yellow: #E79E00
