.video-maker
    background: $blue
    text-align: center
    padding: 50px 0 0 0
    .container
        padding-bottom: 50px
        .video-maker-items-wrap
            display: flex
            justify-content: space-evenly
            padding-top: 60px
            .items
                .video-maker-item
                    display: flex
                    align-items: center
                    margin-top: 13px
                    .item-text
                        margin-left: 10px
        .title
            max-width: 940px
            width: 100%
            margin: 0 auto
    .slide-ill
        width: 100%
        left: 50%
        top: 20%
    .blue-background
        background: $blue
        position: relative
        background: linear-gradient(to bottom, #387DFF 50%, #EEF5FF 50%)
        padding: 0 100px
