.website-maker
    background-color: #F5FAFE
    .container
        display: flex
        justify-content: space-between
        .website-maker-image
            max-width: 700px
            width: 100%
        .website-maker-text
            max-width: 500px
            width: 100%
            margin: auto
            .text
                margin:  0 0 30px 0
            .line
                margin: 20px 0
            .rf-btn
                height: 60px
                line-height: 60px
                padding: 0 45px
                margin-left: 20px