<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--JS-->
    <script src="/js/main.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <!--styles-->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">
</head>
<body>
<section class="main-page">
    <div class="container">
        <h1 class="rf-heading rf-35 blue">Renderforest Agency Plan</h1>
        <p class="rf-descr rf-18 blueGray">Full Access to All of Our Branding Tools</p>
        <div class="main-content-wrap">
            <div class="content-text">
                <div class="text">
                    <h3 class="rf-heading rf-20 darkViolet">Suitable for agencies and mid-to-large companies</h3>
                    <div class="items">
                        <img class="item-check" src="../img/check.svg" >
                        <p class="rf-descr rf-18 blueGray rf-semi">Unlimited Videos and Slideshows</p>
                    </div>
                    <div class="items">
                        <img class="item-check" src="../img/check.svg" >
                        <p class="rf-descr rf-18 blueGray rf-semi">Unlimited Videos and Slideshows</p>
                    </div>
                    <div class="items">
                        <img class="item-check" src="../img/check.svg" >
                        <p class="rf-descr rf-18 blueGray rf-semi">Unlimited Videos and Slideshows</p>
                    </div>
                </div>
                <a href="#" class="rf-btn rf-60 orange">Subscribe</a>
            </div>
            <div class="content-image">
                <img class="rendy-img" src="../img/rendy.svg"   alt="main-page-ill" >
                <div class="rendy-wrap">
                    <p class="rf-heading rf-30 rendy-text white">ิด48000</p>
                    <p class="rendy-text rf-descr rf-14 white">per monthly (billed yearly)</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="platforms">
    <img class="platforms-wave" src="../img/wave1.svg" alt="Wave">
    <div class="container">
        <h3 class="rf-heading rf-35 blue">Your Advanced Branding and Design Platform</h3>
        <div class="line green"></div>
        <iframe></iframe>
        <p class="rf-descr rf-16 darkViolet">We aim to make high-quality branding affordable and available to everyone. 
            Over the past 5 years, we helped millions of customers get broadcast quality videos and animations, logos, graphics, presentations, and professional websites while keeping high quality standards at the core. 
            Marketing agencies use our tools to cut their costs while offering high-end design solutions to their clients.</p>
            <a href="#" class="rf-btn orange">SUBSCRIBE FOR $99/month</a>
    </div>
</section>








<!-- init owl carousel 
    <script>
    $(document).ready(function(){
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items:1,
            loop:true,
            margin:10,
            autoplay:true,
            autoplayTimeout:2000,
            autoplayHoverPause:true
        });
    });
</script> -->
</body>
</html>