<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--JS-->
    <script src="/js/main.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <!--styles-->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap" rel="stylesheet">

</head>
<body>
    <section class="video-maker">
        <div class="container">
            <h3 class="main-title darkPurple">Video Maker Online</h3>
            <div class="line coral"></div>
            <div class="video-maker-items">
                <div class="item">
                    <figure class="img-wrap">
                        <img src="../img/slideshow.png" class="item-image" alt="slideshow">
                    </figure>
                    <p class="item-descr">Slideshow<p>
                </div>
                <div class="item">
                    <figure class="img-wrap">
                        <img src="../img/smm.png" class="item-image" alt="SMM videos">
                    </figure>
                    <p class="item-descr">SMM videos<p>
                </div>
                <div class="item">
                    <figure class="img-wrap" >
                        <img src="../img/intros.png" class="item-image" alt="Intros">
                    </figure>
                    <p class="item-descr">Intros<p>
                </div>
                <div class="item">
                    <figure class="img-wrap">
                    <img src="../img/promo.png" class="item-image" alt="Promo Video">
                    </figure>
                    <p class="item-descr">Promo Videos<p>
                </div>
                <div class="item">
                    <figure class="img-wrap" >
                        <img src="../img/explainer.png" class="item-image" alt="explainer">
                    </figure>
                    <p class="item-descr">Explainer<p>
                    </div>
                <div class="item">
                    <figure class="img-wrap" >
                        <img src="../img/animations.png" class="item-image" alt="animations videos">
                    </figure>
                    <p class="item-descr">Animations videos<p>
                </div>
                <div class="item">
                    <figure class="img-wrap" >
                        <img src="../img/editing.png" class="item-image" alt="editing">
                    </figure>
                    </figure>
                    <p class="item-descr">Editing<p>
                </div>
                <div class="item">
                    <figure class="img-wrap" >
                        <img src="../img/presentations.png" class="item-image" alt="presantations Video">
                    </figure>
                    <p class="item-descr">Presantations Videos<p>
                </div>
            </div>
        </div>
    </section>
    <section class="video-maker-description">
        <div class="container">
            <p class="descr darkPurple">
                Renderforest is a free online video maker, which helps you create promotional videos, explainer animations, intros, slideshows, special event videos, music visualizations, kinetic typography and a lot more right in the cloud.
                A vast amount of categories are at your disposal. 
                Choose your favorite template and create videos online in a few clicks. Give it a try right away!
            </p>
            <a href="#" class="btn orange">Create Now</a>
        </div>
    </section>
    <section class="crowd">
        <a href="#"><img src="../img/crowd.svg" alt="rating" class="rating" ></a>
        <div class="feedback">
            <div class="users">
                <p class="user-name">Boyan Petev</p>
                <hr>
                <p class="descr lightGrey">The best part is the effects. I’ve tried many other platforms, however Renderforest amazed me with the quality and the dynamic of their effects. </p>
                <div class="g2crowd">
                    <p class="descr lightGrey">On</p>
                    <p class="blue-text"><a href="#">G2 Crowd</a></p>
                </div>
            </div>
            <div class="users">
                <p class="user-name">Boyan Petev</p>
                <hr>
                <p class="descr lightGrey">I love the responsiveness of the Renderforest team and their politeness in response to any concerns you may have. </p>
                <div class="g2crowd">
                    <p class="descr lightGrey">On</p>
                    <p class="blue-text"><a href="#">G2 Crowd</a></p>
                </div>
            </div>
        </div>
    </section>
    <section class="templates">
        <h3 class="main-title blue">We provide high quality and easy to make video templates.</h3>
        <div class="line green"></div>
        <div class="container">
            <div class="templates-column">
                <div class="block">
                    <h3 class="heading">Promotional Videos</h3>
                    <div class="line coral"></div>
                    <p class="descr darkPurple">Our promotional video maker features templates for any type of promotion: from social media promos to explainer videos. 
                    You have hundreds of scenes to choose from. Attract your users with awesome quality promotions.
                    </p>
                </div>
                <div class="block">
                    <h3 class="heading">Promotional Videos</h3>
                    <div class="line purple"></div>
                    <p class="descr darkPurple">Our promotional video maker features templates for any type of promotion: from social media promos to explainer videos. 
                        You have hundreds of scenes to choose from. Attract your users with awesome quality promotions.
                    </p>
                </div>
                <div class="block">
                    <h3 class="heading">Promotional Videos</h3>
                    <div class="line green"></div>
                    <p class="descr darkPurple">Our promotional video maker features templates for any type of promotion: from social media promos to explainer videos. 
                    You have hundreds of scenes to choose from. Attract your users with awesome quality promotions.
                    </p>
                </div>
            </div>
            <div class="emplates-column center">
                <p>Video</p>
            </div>
            <div class="templates-column">
                    <div class="block">
                        <h3 class="heading">Promotional Videos</h3>
                        <div class="line skyBlue"></div>
                            <p class="descr darkPurple">Our promotional video maker features templates for any type of promotion: from social media promos to explainer videos. 
                            You have hundreds of scenes to choose from. Attract your users with awesome quality promotions.
                            </p>
                    </div>
                        <div class="block">
                            <h3 class="heading">Promotional Videos</h3>
                            <div class="line blue"></div>
                            <p class="descr darkPurple">Our promotional video maker features templates for any type of promotion: from social media promos to explainer videos. 
                                You have hundreds of scenes to choose from. Attract your users with awesome quality promotions.
                            </p>
                    </div>
                    <div class="block">
                            <h3 class="heading">Promotional Videos</h3>
                            <div class="line yellow"></div>
                            <p class="descr darkPurple">Our promotional video maker features templates for any type of promotion: from social media promos to explainer videos. 
                            You have hundreds of scenes to choose from. Attract your users with awesome quality promotions.
                            </p>
                    </div>
            </div>
        </div>
        <img class="background-image" src="../img/wave.svg">
    </section>
    <section class="skills">
        <div class="container">
            <h3 class="main-title darkPurple">Create everything in your browser without any technical skills</h3>
            <div class="line purple"></div>
            <p class="descr darkPurple">We have over 50.000+ unique video scenes to choose from</p>
            <div class="skills-block">
                <figure class="img-wrap">
                    <img class="skills-image" src="../img/template.svg">
                </figure>
                <div class="skills-content">
                    <h3 class="heading"><span class="number">1.</span>Select template</h3>
                    <p class="descr darkPurple">Select your preferred template from our large catalog of video projects. 
                        Hundreds of professional templates are created to meet any user’s expectations and demands, 
                        as well as make video creation experience funny and satisfying.
                    </p>
                </div>
                <img class="right-narrow" src="../img/narrow.svg" alt="right-narrow"> 
            </div>
            <div class="skills-block reverse">
                <img class="left-narrow" src="../img/leftNarrow.svg" alt="right-narrow"> 
                <div class="skills-content">
                    <h3 class="heading"><span class="number">2.</span>Edit and personalize</h3>
                    <p class="descr darkPurple">SEdit online and personalize your video uploading photos, videos, play with color pallet and texts. 
                    Enjoy the process taking into account that you always have the chance to come back and edit your projects over and over unless you achieve your desired result.
                    </p>
                </div>
                <figure class="img-wrap">
                    <img class="skills-image" src="../img/edit.svg">
                </figure>
            </div>
            <div class="skills-block">
                <figure class="img-wrap">
                    <img class="skills-image" src="../img/export.svg">
                </figure>
                <div class="skills-content">
                    <h3 class="heading"><span class="number">3.</span>Export your video</h3>
                    <p class="descr darkPurple">Finalize by selecting a music track or adding your own voice-over. 
                        Preview your video so you can check the final result and download it in minutes.
                    </p>
                </div>
            </div>
            <a class="btn blue">Browse Templates</a>
        </div>
    </section>








<!-- init owl carousel 
    <script>
    $(document).ready(function(){
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items:1,
            loop:true,
            margin:10,
            autoplay:true,
            autoplayTimeout:2000,
            autoplayHoverPause:true
        });
    });
</script> -->
</body>
</html>