<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--JS-->
    <script src="/js/main.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <!--styles-->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">
</head>
<body>
<section class="main-page">
    <div class="container">
        <h1 class="rf-heading rf-35 blue">Renderforest Agency Plan</h1>
        <p class="rf-descr rf-18 blueGray">Full Access to All of Our Branding Tools</p>
        <div class="main-content-wrap">
            <div class="content-text">
                <div class="text">
                    <h3 class="rf-heading rf-20 darkViolet">Suitable for agencies and mid-to-large companies</h3>
                    <div class="items">
                        <img class="item-check" src="../img/check.svg" >
                        <p class="rf-descr rf-18 blueGray rf-semi">Unlimited Videos and Slideshows</p>
                    </div>
                    <div class="items">
                        <img class="item-check" src="../img/check.svg" >
                        <p class="rf-descr rf-18 blueGray rf-semi">Unlimited Videos and Slideshows</p>
                    </div>
                    <div class="items">
                        <img class="item-check" src="../img/check.svg" >
                        <p class="rf-descr rf-18 blueGray rf-semi">Unlimited Videos and Slideshows</p>
                    </div>
                </div>
                <a href="#" class="rf-btn rf-60 orange">Subscribe</a>
            </div>
            <div class="hide-background"></div>
            <div class="content-image">
                <img class="rendy-img" src="../img/rendy.svg"   alt="main-page-ill" >
                <div class="rendy-wrap">
                    <p class="rf-heading rf-30 rendy-text white">ิด48000</p>
                    <p class="rendy-text rf-descr rf-14 white">per monthly (billed yearly)</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="platforms">
    <img class="platforms-wave" src="../img/wave1.svg" alt="Wave">
    <img class="platform-ill-left" src="../img/platform-ill1.svg" alt="platform-ill">
    <img class="platform-ill-right" src="../img/platform-ill2.svg" alt="platform-ill">
    <div class="container">
        <h3 class="rf-heading rf-35 blue">Your Advanced Branding and Design Platform</h3>
        <div class="line green"></div>
        <div class="platforms-video">
            <div class="rf-video-wrapper">
                <iframe class="rf-video" src="https://www.youtube.com/embed/vtWPu2BppFA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>   
        <p class="rf-descr rf-16 darkViolet">We aim to make high-quality branding affordable and available to everyone. 
            Over the past 5 years, we helped millions of customers get broadcast quality videos and animations, logos, graphics, presentations, and professional websites while keeping high quality standards at the core. 
            Marketing agencies use our tools to cut their costs while offering high-end design solutions to their clients.</p>
            <a href="#" class="rf-btn orange">SUBSCRIBE FOR $99/month</a>
    </div>
</section>
<section class="video-maker">
    <div class="container">
        <h3 class="rf-heading rf-35 white">Video Maker</h3>
        <div class="line green"></div>
        <p class="rf-descr rf-16 white title">We feature around 50.000 broadcast quality scenes available in over 500 video templates.
            Our award-winning design team crafts and adds new templates every day. Due to AI-powered tools, we reduce your video production time by automatically converting your scripts into videos in one click. 
            Automated video production saves your time and keeps broadcast quality outcome for your end users.
        </p>
        <div class="video-maker-items-wrap">
            <div class="items">
                <div class="video-maker-item">
                    <img class="item-img"  alt="check" src="../img/check.svg" > 
                    <p class="rf-descr rf-16 white item-text">Explainer Animations</p>  
                </div>
                <div class="video-maker-item">
                    <img class="item-img"  alt="check" src="../img/check.svg" > 
                    <p class="rf-descr rf-16 white item-text">Promotional Videos</p>  
                </div>
                <div class="video-maker-item">
                    <img class="item-img"  alt="check" src="../img/check.svg" > 
                    <p class="rf-descr rf-16 white item-text">Intros and Outros</p>  
                </div>
            </div>
            <div class="items">
                <div class="video-maker-item">
                    <img class="item-img"  alt="check" src="../img/check.svg" > 
                    <p class="rf-descr rf-16 white item-text">Personal or Business Slideshows</p>  
                </div>
                <div class="video-maker-item">
                    <img class="item-img"  alt="check" src="../img/check.svg" > 
                    <p class="rf-descr rf-16 white item-text">Videos for SMM Campaigns</p>  
                </div>
                <div class="video-maker-item">
                    <img class="item-img"  alt="check" src="../img/check.svg" > 
                    <p class="rf-descr rf-16 white item-text">Corporate Presentations</p>  
                </div>
            </div>
            <div class="items">
                <div class="video-maker-item">
                    <img class="item-img"  alt="check" src="../img/check.svg" > 
                    <p class="rf-descr rf-16 white item-text">Special Event Videos</p>  
                </div>
                <div class="video-maker-item">
                    <img class="item-img"  alt="check" src="../img/check.svg" > 
                    <p class="rf-descr rf-16 white item-text">Music Visualizations</p>  
                </div>
                <div class="video-maker-item">
                    <img class="item-img"  alt="check" src="../img/check.svg" > 
                    <p class="rf-descr rf-16 white item-text">Lower Thirds and Captions</p>  
                </div>
            </div>
        </div>
    </div>
    <div class="blue-background">
            <img class="slide-ill" src="../img/slider.png" >
    </div>
</section>
<section class="subscribe">
    <div class="container">
        <a href="#" class="rf-btn orange rf-60 ">SUBSCRIBE</a>
        <a href="#" class="rf-btn blue rf-60">BROWSE TEMPLATES</a>
    </div>
</section>
<section class="logo-maker">
    <h3 class="rf-heading rf-35 purple">Logo Maker</h3>
    <div class="line green"></div>
    <p class="rf-heading rf-26 blue">Where Quality Matters</p>
    <p class="rf-descr rf-16 darkViolet text">We use AI-based tools to analyze the descriptions you provided and suggest the best logo layouts based on your requirements. 
        With our Agency plan, you can create an unlimited number of unique logos:
    </p>
    <img class="logo-maker-img" src="../img/logo-maker-items.png" alt="logo-maker">
</section>





<!-- init owl carousel 
    <script>
    $(document).ready(function(){
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items:1,
            loop:true,
            margin:10,
            autoplay:true,
            autoplayTimeout:2000,
            autoplayHoverPause:true
        });
    });
</script> -->
</body>
</html>