<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--JS-->
    <script src="/js/main.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <!--styles-->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">
</head>
<body>
<section class="main-page">
    <div class="container">
        <h1 class="rf-heading rf-35 blue title">Renderforest Agency Plan</h1>
        <p class="rf-descr rf-18 blueGray second-title">Full Access to All of Our Branding Tools</p>
        <div class="main-content-wrap">
            <div class="content-text-wrap">
            <div class="content-text">
                <div class="text">
                    <h3 class="rf-heading rf-20 darkViolet">Suitable for agencies and mid-to-large companies</h3>
                    <div class="items-wrap">
                        <div class="items">
                            <img class="item-check" src="../img/check.svg" >
                            <p class="rf-descr rf-18 blueGray rf-semi check-text">Unlimited Videos and Slideshows</p>
                        </div>
                        <div class="items">
                            <img class="item-check" src="../img/check.svg" >
                            <p class="rf-descr rf-18 blueGray rf-semi check-text">Unlimited Logos with Branding Guidelines</p>
                        </div>
                        <div class="items">
                            <img class="item-check" src="../img/check.svg" >
                            <p class="rf-descr rf-18 blueGray rf-semi check-text">Responsive Professional Websites</p>
                        </div>
                    </div>
                </div>
            </div>
                <a href="#" class="rf-btn rf-60 orange">Subscribe</a>
            </div>
            <div class="content-image">
                <img class="rendy-img" src="../img/rendy.svg"   alt="main-page-ill" >
                <div class="rendy-wrap">
                    <p class="rf-heading rf-30 rendy-text white">Դ48000</p>
                    <p class="rendy-text rf-descr rf-14 white">per monthly (billed yearly)</p>
                </div>
            </div>
        </div>
    </div>
    <a href="#3" class="arrow"><img src="../img/arrow.svg"></a>
   
</section>
<section class="platforms">
    <img class="platforms-wave" src="../img/wave1.svg" alt="Wave">
    <img class="platform-ill-left" src="../img/platform-ill1.svg" alt="platform-ill">
    <img class="platform-ill-right" src="../img/platform-ill2.svg" alt="platform-ill">
    <div class="container">
        <h3 class="rf-heading rf-35 blue">Your advanced Branding and Design Platform</h3>
        <div class="line green"></div>
        <div class="platforms-video">
            <div class="rf-video-wrapper">
                <iframe class="rf-video" src="https://www.youtube.com/embed/vtWPu2BppFA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>   
        <p class="rf-descr rf-16 darkViolet">We aim to make high-quality branding affordable and available to everyone. 
            Over the past 5 years, we helped millions of customers get broadcast quality videos and animations, logos, graphics, presentations, and professional websites while keeping high quality standards at the core. 
            Marketing agencies use our tools to cut their costs while offering high-end design solutions to their clients.</p>
            <a href="#" class="rf-btn orange">SUBSCRIBE FOR $99/month</a>
    </div>
</section>
<section class="video-maker" id="3">
    <div class="container">
        <h3 class="rf-heading rf-35 white">Video Maker</h3>
        <div class="line green"></div>
        <p class="rf-descr rf-16 white title">We feature around 50.000 broadcast quality scenes available in over 500 video templates.
            Our award-winning design team crafts and adds new templates every day. Due to AI-powered tools, we reduce your video production time by automatically converting your scripts into videos in one click. 
            Automated video production saves your time and keeps broadcast quality outcome for your end users.
        </p>
        <div class="video-maker-items-wrap">
            <div class="items">
                <div class="video-maker-item">
                    <img class="item-img"  alt="check" src="../img/check.svg" > 
                    <p class="rf-descr rf-16 white item-text">Explainer Animations</p>  
                </div>
                <div class="video-maker-item">
                    <img class="item-img"  alt="check" src="../img/check.svg" > 
                    <p class="rf-descr rf-16 white item-text">Promotional Videos</p>  
                </div>
                <div class="video-maker-item">
                    <img class="item-img"  alt="check" src="../img/check.svg" > 
                    <p class="rf-descr rf-16 white item-text">Intros and Outros</p>  
                </div>
            </div>
            <div class="items">
                <div class="video-maker-item">
                    <img class="item-img"  alt="check" src="../img/check.svg" > 
                    <p class="rf-descr rf-16 white item-text">Personal or Business Slideshows</p>  
                </div>
                <div class="video-maker-item">
                    <img class="item-img"  alt="check" src="../img/check.svg" > 
                    <p class="rf-descr rf-16 white item-text">Videos for SMM Campaigns</p>  
                </div>
                <div class="video-maker-item">
                    <img class="item-img"  alt="check" src="../img/check.svg" > 
                    <p class="rf-descr rf-16 white item-text">Corporate Presentations</p>  
                </div>
            </div>
            <div class="items">
                <div class="video-maker-item">
                    <img class="item-img"  alt="check" src="../img/check.svg" > 
                    <p class="rf-descr rf-16 white item-text">Special Event Videos</p>  
                </div>
                <div class="video-maker-item">
                    <img class="item-img"  alt="check" src="../img/check.svg" > 
                    <p class="rf-descr rf-16 white item-text">Music Visualizations</p>  
                </div>
                <div class="video-maker-item">
                    <img class="item-img"  alt="check" src="../img/check.svg" > 
                    <p class="rf-descr rf-16 white item-text">Lower Thirds and Captions</p>  
                </div>
            </div>
        </div>
    </div>
    <figure>
        <img class="slide-ill" src="../img/slider.png" >
    </figure>
</section>
<section class="subscribe">
    <div class="container">
        <a href="#" class="rf-btn orange rf-60 ">SUBSCRIBE</a>
        <a href="#" class="rf-btn blue rf-60">BROWSE TEMPLATES</a>
    </div>
</section>
<section class="logo-maker">
    <h3 class="rf-heading rf-35 purple">Logo Maker</h3>
    <div class="line green"></div>
    <p class="rf-heading rf-26 blue">Where Quality Matters</p>
    <p class="rf-descr rf-16 darkViolet text">We use AI-based tools to analyze the descriptions you provided and suggest the best logo layouts based on your requirements. 
        With our Agency plan, you can create an unlimited number of unique logos:
    </p>
    <div class="logo-maker-slider"></div>
</section>
<section class="branding">
    <div class="container">
        <div class="branding-image">
            <img class="box-img" alt="Box" src="../img/box-ill.svg">
        </div>
        <div class="branding-text">
            <h3 class="rf-heading rf-26 purple rf-semi">Branding Guidelines</h3>
            <p class="rf-descr rf-16 darkViolet text">Your logo is special, so it needs to be treated as such. We grant you a PDF book of branding guidelines uniquely made for your logo. 
                It will include a set of rules about how to represent your brand across channels and assets, as well as guidelines for maintaining the integrity of your brandmark.
            </p>
            <img class="hide-image" src="../img/box-ill.svg" alt="box">
            <div class="branding-subscribe">
                <a  href="#" class="rf-descr rf-18 blue">Watch the video</a>
                <a href="#" class="rf-btn orange ">Subscribe</a>
            </div>
        </div>
    </div>
</section>
<section class="website-maker">
    <div class="container">
        <div class="website-maker-text">
            <h3 class="rf-heading rf-35 blue">Website Maker</h3>
            <div class="line orange"></div>
            <p class="rf-descr rf-16 darkViolet text">Our goal was to create an easy-to-use website maker tool that provides outstanding customizable templates designed by professionals. 
                By subscribing to our Agency plan, you can publish up to 3 websites with custom domains and add more in the future if needed.
            </p>
            <figure>
                <img class="hide-image" src="../img/website-maker-image.png" alt="web-site-image">
            </figure>
            <div class="website-maker-subscribe">
                <a  href="#" class="rf-descr rf-18 blue">Watch the video</a>
                <a href="#" class="rf-btn orange ">Subscribe</a>
            </div>
        </div>
        <div class="website-maker-image">
            <img class="website-maker-image" src="../img/website-maker-image.png" alt="web-site-image">
        </div>
    </div>
</section>
<section class="graphics-maker">
    <div class="container">
        <div class="graphics-maker-image">
            <img class="coming-soon-image" src="../img/coming-soon.png">
        </div>
        <div class="graphics-maker-text">
            <h3 class="rf-heading rf-35 purple">Graphics Maker</h3>
            <div class="line green"></div>
            <p class="rf-descr rf-16 darkPurple">Renderforest Graphics maker is a simple but powerful tool that helps to create any kind of graphics directly in your browser. 
            With our Agency plan, you’ll have unlimited access to it.</p>
            <div class="graphics-items">
                <p class="rf-descr rf-semi darkPurple">Use our Graphic maker to create</p>
                <div class="item-wrap">
                <div class="item">
                    <img class="check" src="../img/check.svg">
                    <p class="rf-descr darkPurple">SMM posts, posters and covers</p>
                </div>
                <div class="item">
                    <img class="check" src="../img/check.svg">
                    <p class="rf-descr darkPurple">PDF presentations</p>
                </div>
                <div class="item">
                    <img class="check" src="../img/check.svg">
                    <p class="rf-descr darkPurple">Photo filters</p>
                </div>
                <div class="item">
                    <img class="check" src="../img/check.svg">
                    <p class="rf-descr darkPurple">Mockups and more</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="agency">
    <div class="agency-plan">
        <p class="rf-descr rf-purple agency-title">Agency Plan</p>
        <div class="plan-item">
           <p class="rf-heading rf-30 darkPurple">Դ48000</p>
           <p class="rf-descr rf-12">( billed monthly )</p>
        </div>
        <div class="plan-item">
            <p class="rf-heading rf-30">Դ57212</p>
            <p class="rf-descr rf-12">( billed yearly)</p>
        </div>
        <p class="rf-descr rf-12 text"> <strong>100 GB</strong> Storage</p>
        <a class="rf-btn orange">Subscribe</a>
    </div>
</section>
<section class="slider">
    <img class="slider-ill" alt="slider-ill" src="../img/slider-ill.svg">
    <div class="container">
        <h3 class="rf-heading rf-35 blue">Trusted by 8 million clients worldwide</h3>
        <div class="line orange"></div>
        <div class="slider-wrap owl-carousel">
            <div class="slider-content-wrap ">
                <div class="clients-info">
                    <div class="stars">
                        <img class="star" alt="star" src="../img/star.svg">
                        <img class="star" alt="star" src="../img/star.svg">
                        <img class="star" alt="star" src="../img/star.svg">
                        <img class="star" alt="star" src="../img/star.svg">
                        <img class="star" alt="star" src="../img/star.svg">
                        <p class="rf-descr rf-12">5/5</p>
                    </div>
                    <div class="info">
                        <p class="rf-descr rf-18 rf-semi darkViolet">John Bremner</p>
                        <p class="rf-descr rf-12 darkViolet text">Freelance B2B Writer of In8 Logic</p>
                    </div>
                </div>
                <div class="clients-comment">
                    <p class="rf-descr rf-16 darkViolet">I made my promo video in just a couple of hours. Renderforest's software is simple to use, and the results are fantastic.</p>
                    <div class="capterra">
                        <p class="rf-descr rf-14 darkViolet">On</p>
                        <a class="capterra-link" href="#">Capterra</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="slider-ill right" alt="slider-ill" src="../img/slider-ill2.svg">
</section>

    <script>
    $(document).ready(function(){
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items:1,
            loop:true,
            margin:10,
            autoplay:true,
            autoplayTimeout:2000,
            autoplayHoverPause:true
        });
    });
</script>
</body>
</html>