<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--JS-->
    <script src="/js/main.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <!--styles-->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,700i&display=swap" rel="stylesheet">
</head>
<body>
    <section class="main-page-slider">
        <div class="slider-wrap owl-carousel">
            <div class="slider-item">
                <img class="img-slide" src="../img/slide.png" alt="slide-image">
                <div class="content-slider">
                    <div class="right-side-content">
                        <div class="side-rotate">
                            <div class="line-rotate"></div>
                            <p class="text-rotate">Careers</p>
                        </div>
                        <div class="content-wrap">
                            <h2 class="main-title">Worlds largest video creation platform</h2>
                            <p class="descr">More than 1 million videos are created on Renderforest every month.</p>
                        </div>
                    </div>
                    <div class="left-side-content">
                        <div class="lines"></div>
                        <div class="single-line"></div>
                    </div>
                </div>
            </div>
            <div class="slider-item">
                    <img class="img-slide" src="../img/slide.png" alt="slide-image">
                    <div class="content-slider">
                        <div class="right-side-content">
                            <div class="side-rotate">
                                <div class="line-rotate"></div>
                                <p class="text-rotate">Careers</p>
                            </div>
                            <div class="content-wrap">
                                <h2 class="main-title">Worlds largest video creation platform</h2>
                                <p class="descr">More than 1 million videos are created on Renderforest every month.</p>
                            </div>
                        </div>
                        <div class="left-side-content">
                            <div class="lines"></div>
                            <div class="single-line"></div>
                        </div>
                    </div>
                </div>
        </div>
    </section>
    <section class="tabs">
        <div class="container">
            <div class="tabs-sections">
                <div class="tab-item">About</div>
                <div class="tab-item">Careers</div>
                <div class="tab-item">Office</div>
            </div>
            <div class="tabs-content-wrap">
                <div class="video-content">
                    <div class="video-wrapper">
                    <iframe  class="about-video" src="https://www.youtube.com/embed/8vD9Mciquhs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="text-content">
                    <p class="descr">We’re a rising hub of the best designers, engineers, and marketing specialists striving
                         to make high quality branding available to everyone across the world.
                    </p>
                    <p class="descr">Join us in our creative environment to become the best version of yourself.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="positions">
        <div class="side-rotate">
            <div class="line-rotate"></div>
            <p class="text-rotate">Positions</p>

        </div>
        <div class="container">
            <h2 class="section-heading">Open Positions</h2>
            <div class="section-line purple"></div>
            <div class="content-items">
                <div class="item">
                    <div class="item-left-text">
                        <p class="item-heading">UI/UX Designer</p>
                        <p class="item-text">Yerevan, Armenia</p>
                    </div>
                    <div class="item-right-text">
                        <p class="item-it">IT Team</p>
                        <p class="item-text">Full Time</p>
                    </div>
                </div>
                <div class="item">
                    <div class="item-left-text">
                        <p class="item-heading">Front-end Developer</p>
                        <p class="item-text">Yerevan, Armenia</p>
                    </div>
                    <div class="item-right-text">
                        <p class="item-it">IT team</p>
                        <p class="item-text">Full Time</p>
                    </div>
                </div>
                <div class="item">
                    <div class="item-left-text">
                        <p class="item-heading">Creative Web Designer</p>
                        <p class="item-text">Yerevan, Armenia</p>
                    </div>
                    <div class="item-right-text">
                        <p class="item-it">IT team</p>
                        <p class="item-text">Full Time</p>
                    </div>
                </div>
                <div class="item">
                    <div class="item-left-text">
                        <p class="item-heading">IProduct research analyst</p>
                        <p class="item-text">Yerevan, Armenia</p>
                    </div>
                    <div class="item-right-text">
                        <p class="item-it">IT team</p>
                        <p class="item-text">Full Time</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="benefits">
        <div class="container">
            <h3 class="section-heading">Benefits of Working in Renderforest</h3>
            <div class="section-line green"></div>
            <div class="benefits-items">
                <div class="item">
                    <div class="image-wrap yellow"><img class="benefits-img" src="../img/creative.svg" alt="game"></div>
                    <h3 class="item-heading">Creative Environment </h3>
                    <p>Renderforest office building is just an 8- minute drive away from the city center. 
                    It features a large auditorium, library, gaming room, lounge areas, and an open roof with a splendid mountain view.
                    </p>
                </div>
                <div class="item">
                    <div class="image-wrap purple"><img class="benefits-img" src="../img/health.svg" alt="health"></div>
                    <h3 class="item-heading">Health Insurance </h3>
                    <p>Full coverage of 1.5 million AMD per year to cover any kind of urgent health issues of our employees.
                    </p>
                </div>
                <div class="item">
                    <div class="image-wrap blue"><img class="benefits-img" src="../img/gym.svg" alt="gym"></div>
                    <h3 class="item-heading">Gym Coverage</h3>
                    <p>A 50% gym membership coverage in one of the best facilities located in just a walking distance away from the office.</p>
                </div>
                <div class="item">
                    <div class="image-wrap blue"><img class="benefits-img" src="../img/massages.svg" alt="massages"></div>
                    <h3 class="item-heading">Massages</h3>
                    <p>Enjoy relaxing massage chair available in the office every day and get a 50% coverage of massage therapy every month.</p>
                </div>
                <div class="item">
                    <div class="image-wrap red"><img class="benefits-img" src="../img/coffee.svg" alt="coffee"></div>
                        <h3 class="item-heading">Great Coffee and tea</h3>
                        <p>Fully automated coffee machine on every floor for unlimited cups of coffee, latte and cappuccino. We also have a nice tea selection for tea lovers.
                        </p>
                </div>
                <div class="item">
                    <div class="image-wrap yellow"><img class="benefits-img" src="../img/snakcs.svg" alt="snacks"></div>
                        <h3 class="item-heading">Free Snacks, Sweets and Dairy </h3>
                        <p>A large variety of healthy and unhealthy snacks, sweets and milk products to drive more energy, productivity, and happiness.
                        </p>
                </div>
                <div class="item">
                    <div class="image-wrap yellow"><img class="benefits-img" src="../img/day-off.svg" alt="day-off"></div>
                        <h3 class="item-heading">Flexible Day off Policy</h3>
                        <p>Flexibility is one of our keys to productivity. You can take day-offs from your fully covered 20 paid working days every year.
                        </p>
                </div>
                <div class="item">
                        <div class="image-wrap purple"><img class="benefits-img" src="../img/team-building.svg" alt="build"></div>
                            <h3 class="item-heading">Team Building Activities</h3>
                            <p>Whether it’s a corporate retreat or a storytelling night, we have a bunch of local team building activities to make your work at Renderforest enjoyable.
                            </p>
                </div>
                <div class="item">
                        <div class="image-wrap blue"><img class="benefits-img" src="../img/bonus.svg" alt="bonus"></div>
                            <h3 class="item-heading">Yearly Productivity Bonuses</h3>
                            <p>We do our best for the employees to feel appreciated and valued at work. 
                            Every year productive employees are paid bonuses for boosting up the company with hard work and commitment.
                            </p>
                </div>
                <div class="item">
                        <div class="image-wrap blue"><img class="benefits-img" src="../img/game.svg" alt="bonus"></div>
                            <h3 class="item-heading">Gaming Club</h3>
                            <p>As we believe video games inspire interaction between players, team building activities at Renderforest include playing video games in our large auditorium.
                            </p>
                </div>
                <div class="item">
                        <div class="image-wrap red"><img class="benefits-img" src="../img/film.svg" alt="movie"></div>
                            <h3 class="item-heading">Film Club</h3>
                            <p>Sharing hobbies is another way to keep the team spirit high. Within Renderforest Film Club, 
                                we arrange movie screening nights every month. What can be better than a team of people that laugh and cry together?
                            </p>
                </div>
                <div class="item">
                        <div class="image-wrap yellow"><img class="benefits-img" src="../img/english.svg" alt="english"></div>
                            <h3 class="item-heading">English Club</h3>
                            <p>For those who want to improve their English, we organize English proficiency workshops for beginners and advanced learners every week.
                            </p>
                </div>
            </div>
        </div>
    </section>
    <section class="office-enviroment">
        <img class="benefits-background" src="../img/wave.svg">
        <div class="office-wrap">
            <div class="content-wrap">
            <div class="content">
                <p class="text-purple">A creative enviroment</p>
                <p class="text-bold">to help you find</p>
                <p class="text">the best version of yourself</p>
                <a class="rf-btn" href="#">  View More</a>
            </div>
            </div>  
            <div class="office-enviroment-slider owl-carousel">
                <div class="slider-images">
                    <figure class="img">
                        <img class="slider-img" src="../img/office.png">
                    </figure>
                </div>
                <div class="slider-images">
                        <figure class="img">
                            <img class="slider-img" src="../img/office.png">
                        </figure>
                </div>
            </div>
        </div>
    </section>








<!-- init owl carousel  -->
    <script>
    $(document).ready(function(){
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items:1,
            loop:true,
            dots: false,
            margin:10,
            autoplay:true,
            autoplayTimeout:2000,
            autoplayHoverPause:true
        });
    });
</script>
</body>
</html>