<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--JS-->
    <script src="/js/main.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <!--styles-->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap" rel="stylesheet">
</head>
<body>
<section class="main-page">
    <div class="rf-container">
        <h1 class="main-heading darkPurple">We love each of our</h1>
        <div class="main-page-content">
            <img class="numbers-crown" src="img/crown.svg" alt="crown">
            <p class="main-page-numbers">8,000,000</p>
        </div>
        <p class="main-page-description">users, and here is why our love is mutual.</p>
    </div>
    <img class="wave-background" src="../img/herowave.svg " alt="Hero Wave">
</section>
<section class="create-video">
    <img class="create-video-background-image" src="img/bg.svg" alt="background"> 
    <div class="create-video-content">
        <h3 class="section-heading">We’ve come a long way to become a go-to branding platform for millions of users.</h3>
        <div class="video-wrapper">
        <iframe class="create-video-frame" src="https://www.youtube.com/embed/vtWPu2BppFA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="rf-blue-bg"></div>
    <img class="path" src="../img/path.svg" alt="path">
</section>
<section class="designpro">
    <div class="rf-container" >
        <div class="designpro-content">
            <h3 class="main-heading blue" >Here, you don’t have to be a design pro.</h3>
            <div class="line green" ></div>
            <p class="descr lightGrey">You’re worth the best results, so our award-winning design team has already got everything in apple pie order for you.</p>
        </div>
        <figure class="designpro-illustration">
            <img class="illustration-image" src="img/notebook.png" alt="notebook">
        </figure>
        </div>
</section>
<section class="design-solution">
    <div class="rf-container">
        <h3 class="section-heading grey">Use the cutest animations and the most <br>persuasive design solutions.</h3>
    </div>
    <div class="line coral"></div>
    <div class="design-ill design-ill-1"></div>
    <div class="design-ill design-ill-2"></div>
    <div class="design-ill design-ill-3"></div>
</section>
<section class="favorite-design">
    <div class="rf-container">
        <h3 class="section-heading blue">There is no way you can leave our platform finding your favorite design:</h3>
        <div class="line skyBlue"></div>
        <p class="descr darkPurple">We have a huge collection of video and website templates for every taste and category. What kind of video do you want to create?</p>
        <div class="favorite-design-items">
            <div class="design-item">
                <div class="design-item-pic purple">
                    <img src="img/promotional.svg" alt="pic">
                </div>
                <p class="descr darkViolet">Promotional</p>
            </div>
            <div class="design-item">
                <div class="design-item-pic blue" alt="pic">
                    <img src="img/movie.svg">
                </div>
                <p class="descr darkViolet">Intros</p>
            </div>
            <div class="design-item">
                <div class="design-item-pic orange" alt="pic">
                    <img src="img/slideshow.svg">
                </div>
                <p class="descr darkViolet"> Slideshows</p>
             </div>
             <div class="design-item">
                <div class="design-item-pic green" alt="pic">
                    <img src="img/disc.svg">
                </div>
                <p class="descr darkViolet"> Music Visualisations</p>
             </div>
             <div class="design-item">
                <div class="design-item-pic dark-blue">
                    <img src="img/presentation.svg">
                </div>
                <p class="descr darkViolet"> Presentation</p>
            </div>
        </div>
    </div>
</section>
<section class="alghoritms">
    <div class="rf-container">
        <figure class="alghoritms-illustration">
            <img src="img/illsutration.png" alt="illustration">
        </figure>
        <div class="alghoritms-content">
            <h3 class="section-heading purple">
                Machine learning algorithms will turn your ideas into outstanding visuals.
            </h3>
            <div class="line green"></div>
            <p class="descr darkViolet">We’ll generate a perfect artwork based on your preferences.</p>
            <a href="#" class="btn orange"> Create My Logo</a>
        </div>
    </div>
</section>
<section class="website-block">
    <div class="rf-container">
        <div class="website-content">
            <h3 class="section-heading blue">Well-thought design solutions for building the most effective websites.</h3>
        <div class="line skyBlue"></div>
        <p class="descr lightGrey">Due to the love of our users, high-authority websites list us among the best software companies and video makers of the world.</p>
    </div>
        <figure class="website-illustration">
            <img src="../img/website.svg" alt="Website">
        </figure>
    </div>  
</section>
<section class="rating">
    <div class="rating-wrap">
        <div class="rating-content">
            <h3 class="main-heading">We are in the top lists of the world’s best software companies of 2019</h3>
            <div class="line skyBlue"></div>
            <p class="descr">Due to the love of our users, high-authority websites list us among the best software companies and video makers of the world.</p>
            <div class="rating-items">
                <img src="../img/logo1.svg" alt="logo" class="rating-logo"> 
                <img src="../img/logo2.svg" alt="logo" class="rating-logo">
                <img src="../img/logo3.svg" alt="logo" class="rating-logo">
            </div>
        </div>
   </div>
   <img src="../img/rating-bg.svg" class="rating-illustration">
</section>
<section class="contact">
    <div class="rf-container">
        <div class="contact-illustration">
            <div class="image-wrap">
                <img class="contact-image" src="../img/molbert.svg" alt="ill"> 
                <div class="ill-text">
                <p class="descr lightGrey">Feel free to contact us at</p>
                <a href='mailto:support@renderforest.com' class="mail">support@renderforest.com</a>
                <p class="descr lightGrey">to ask any question</p>
                <div class="inline-element">
                        <hr class="lines">
                        <p>or</p>
                        <hr class="lines">
                    </div>
                <a href="#" class="btn orange">Say Hi</a>
            </div>
            </div>
        </div>
        <div class="contact-content">
            <h3 class="section-heading blue">We’ll do our best not to disappoint you.</h3>
            <div class="line green"></div>
            <p class="descr lightGrey">You may face problems everywhere, but with us, you can be 100% sure your problems will not be left by the wayside.</p>
        </div>
    </div>
</section>
<section class="benefits">
    <h3 class="section-heading purple">Lots of benefits</h3>
    <div class="line skyBlue"></div>
    <p class="descr lightGrey">You as a Renderforest user will enjoy every minute of your video creation journey!</p>
    <img class="benefits-image" alt="rendy" src="../img/rendy.png">
</section>
<section class="youtube">
    <img src="../img/illustration.svg" alt="decoration" class="decoration">
    <div class="rf-container">
        <h3 class="section-heading blue">Youtubers Love Us</h3>
        <div class="line coral"></div>
        <div class="youtube-items">
                <div class="video-wrapper">
                    <div class="video-item">
                        <iframe class="create-video-frame" src="https://www.youtube.com/embed/vtWPu2BppFA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="video-wrapper">
                    <div class="video-item">
                        <iframe class="create-video-frame" src="https://www.youtube.com/embed/vtWPu2BppFA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="video-wrapper">
                    <div class="video-item">
                        <iframe class="create-video-frame" src="https://www.youtube.com/embed/vtWPu2BppFA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
        </div>
    </div>
</section>
<section class="users-slider">
    <img src="../img/illustration2.svg" alt="decoration" class="decoration"> 
        <h3 class="section-heading blue">Let our users speak for us!</h3>
        <div class="line yellow"></div>
        <div class="slider-items-wrapper owl-carousel">
            <div class="slider-item">
                <div class="user-img">
                    <img alt="user" src="https://static.rfstat.com/renderforest/images/v2/testimonials/eric.png" >
                    <h3>Jacob Carlile</h3>
                    <p>Qld Hot Property Marketing Manager</p>
                </div>
                <div class="users-descr">
                    <p>We love using Renderforest in our real estate business both for our own videos and for our clients'. 
                        The platform is very easy to use and with new templates released all the time, so we are able to keep our marketing fresh and contemporary. 
                        The quality of the videos and the support are first class. I would recommend Renderforest to anyone considering an online video production platform.
                    </p>
                </div>
                <img src="../img/quotes.svg" alt="Quote icon" class="quote-icon">
            </div>
            <div class="slider-item">
                <div class="user-img">
                    <img alt="user" src="https://static.rfstat.com/renderforest/images/v2/testimonials/jacob.png" >
                    <h3>Jacob Carlile</h3>
                    <p>Qld Hot Property Marketing Manager</p>
                </div>
                <div class="users-descr">
                    <p>We love using Renderforest in our real estate business both for our own videos and for our clients'. 
                        The platform is very easy to use and with new templates released all the time, so we are able to keep our marketing fresh and contemporary. 
                        The quality of the videos and the support are first class. I would recommend Renderforest to anyone considering an online video production platform.
                    </p>
                </div>
                <img src="../img/quotes.svg" alt="Quote icon" class="quote-icon">
            </div>
        </div>
</section>




<script>
    $(document).ready(function(){
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items:1,
            loop:true,
            margin:10,
            dots:true,
            nav:false,
            pagination: true,
            paginationNumbers:false,
            autoplay:true,
            autoplayTimeout:2000,
            autoplayHoverPause:true
        });
    });
</script>
</body>
</html>