<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--JS-->
    <script src="/js/main.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <!--styles-->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!--fonts-->
</head>
<body>

<section class="pricing">
        <div class="container">
            <div class="pricing-items yellow">
                <h3 class="price yellowTitle">Free</h3>
                <a>Browse Videos</a>
                <p class="descr">Good for everyone who wants to start creating videos online</p>
                <p class="item">Unlimited 360p videos</p>
                <p class="item">500 MB storage</p>
                <p class="item">Limited number of music track</p>
                <p class="item">Watermarks on everything</p>
                <p class="item">Up to 3 minute videos</p>
                <p class="item">Unlimited low quality logos in PNGs</p>
            </div>
            <div class="pricing-items blue">
                <h3 class="price blueTitle"> ֏5000</h3>
                <a>Subscribe</a>
                <p class="descr">Good for everyone who wants to start creating videos online</p>
                <p class="item">5  HD720  Videos per month</p>
                <p class="item">Up to 5 minute videos</p>
                <p class="item">Up to 10 GB storage</p>
                <p class="item">30+ commercial music tracks</p>
                <p class="item">No watermarks on HD videos</p>
                <p class="item">Unlimited high quality logos in</p>
                <p class="item">1 website creation and hosting with your own domain</p>
            </div>
            <div class="pricing-items purple">
                <div class="empty-col"></div>
                <h3 class="price purpleTitle">֏12000</h3>
                <a>Subscribe</a>
                <p class="descr">Good for everyone who wants to start creating videos online</p>
                <p class="item">20  HD720  Videos per month</p>
                <p class="item">Up to 15 minute videos</p>
                <p class="item">Up to 20 GB storage</p>
                <p class="item">50+ commercial music tracks</p>
                <p class="item">No watermarks on HD videos</p>
                <p class="item">Unlimited vector SVG and high quality PNG logos</p>
                <p class="item">1 website creation and hosting with your own domain</p>
            </div>
            <div class="pricing-items coral">
                    <div class="empty-col"></div>
                    <div class="empty-col"></div>
                    <h3 class="price coralTitle">֏18000</h3>
                    <a>Subscribe</a>
                    <p class="descr">Good for everyone who wants to start creating videos online</p>
                    <p class="item">60 HD720  or  30  HD1080 Videos per month</p>
                    <p class="item">Up to 30 minute videos</p>
                    <p class="item">Up to 40 GB storage</p>
                    <p class="item">80+ commercial music tracks</p>
                    <p class="item">No watermarks on HD videos</p>
                    <p class="item">Unlimited vector logos with branding guidelines</p>
                    <p class="item">1 website creation and hosting with your own domain</p>
            </div>
            <div class="pricing-items green">
                    <div class="empty-col"></div>
                    <h3 class="price greenTitle">֏24000</h3>
                    <a>Subscribe</a>
                    <p class="descr">Good for everyone who wants to start creating videos online</p>
                    <p class="item">Unlimited HD1080 Videos</p>
                    <p class="item">Up to 60 minute videos</p>
                    <p class="item">Up to 80 GB storage</p>
                    <p class="item">120+ commercial music tracks</p>
                    <p class="item">No watermarks everywhere</p>
                    <p class="item">3 managing users</p>
                    <p class="item">Unlimited vector logos with branding guidelines</p>
                    <p class="item">3 websites creation and hosting with your own domain</p>
            </div>
        </div>
    </section>












<!-- init owl carousel 
    <script>
    $(document).ready(function(){
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items:1,
            loop:true,
            margin:10,
            autoplay:true,
            autoplayTimeout:2000,
            autoplayHoverPause:true
        });
    });
</script> -->
</body>
</html>